body
{
background-color:black;
}

h1
{
color:white;
font-family:verdana;
text-align:justify;
font-size:45px;
text-shadow:4px 4px 3px darkblue;
}

h2
{
color:white;
font-family:verdana;
text-align:justify;
font-size:17px;
}

h3
{
color:white;
font-family:verdana;
text-align:justify;
font-size:20px;
text-shadow:3px 3px 2px darkblue;
}

.botao
{
color:purple;
background-color:white;
width:150px;
padding:13px 30px ;
border:none;
font-weight:bold;
font-size:15px;
text-aling:center;
text-decoration:none;
border-radius:20px;
opacity:0.7;
display:inline-block;
}

.botao:hover
{
background-color:#00BFFF;
box-shadow:0 4px #4169E1;
}

.botao:active
{
background-color:black;
box-shadow:0 4px #00BFF;
transform:translateY(10px);
}

.figura
{
width:px;
height:;
border-radius:50%;
opacity:0.7;
}

.figura1
{
transform:scaleX(-1);
}

